ion-content {
  align-items: center;
  align-content: center;
  text-align: center;
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
}



.boton {
  background-color: #dd6262;
  color: #000000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 200%;
  width: 90%;
  height: 28vh;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 5%;
  //   margin-bottom: 3%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px #000;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.boton:hover {
  background: rgba(155, 27, 27, 0.753);
  transition: background 0.5s, color 0.5s;

}

.boton:active {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.boton-registrar {
  background: #0584ce;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}


.btn-estadisticas:hover {
  background: #000;
  color: #fff;
  transition: background 0.5s, color 0.5s;

  ion-icon {
    color: #fff;
  }
}

.btn-estadisticas:active {
  transform: scale(1.1);
  transition: transform 0.3s;
}

/*SPINNER*/
.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}