ion-content {
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
  align-items: center;
  align-content: center;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.slide {
  margin-top: 5rem;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #c98181;
}
.slide:hover {
  background-color: #e43030;
  transition: background-color 0.5s;
}

.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
