

*{
  color: black;
}

ion-button{
  margin-top: 18px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.3);
  --background: #f8a1a1;    
  margin-bottom: 20px;
  color: black;
  width: 80%;
}

hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
}

body
{
    --ion-background-color: url('../../../../assets/splashBackground.png') no-repeat center center fixed;;
    align-items: center;
    align-content: center;
    text-align: center;
}

ion-fab {

  margin-top: 45px;
}

.radio
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.checkbox
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.select
{
    width: 80%;
    background-color: #fff;
    color: #000;
    height: 10%;
    border-radius: 10px;
}
.titulo
{
    color: #fff;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 150%;
}
.form-label
{
    margin-bottom: 0%;
    margin-top: 3%;
    font-weight: 600;
    font-size: larger;
}
::placeholder
{
    color: gray;
}

.input{

    display: block;  
    margin-left: auto;  
    margin-right: auto;   
    border-radius: 10px; 
    color: #000000;
    background-color: white!important;
    width: 70%;
    height: 60px;
    margin-top: 5%;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.flecha-izq
{
    left: 1%;
    position: absolute;
    font-size: 2.5rem;
    top: 45%;
}

.flecha-der
{
    right: 1%;
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      color: #000;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      color: #fff;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      color: #000;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      color: #fff;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      color: #000;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      color: #fff;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      color: #000;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      color: #fff;
    }
  }

form
{
    width: 100%;
    height: 60%;
}

.boton
{
    background-color: #DD6262;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    font-weight: 700;
    font-size: 200%;

    text-shadow: 2px 2px #000000;

    width: 80%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.invalid
{
    font-size: medium;
    color: #fff;
}

ion-slide
{
    display: block;
    height: 100%;
    width: 100%;
}

.div_imagen
{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
}

.imagen_usuario
{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;
    border-style: solid;
    border-width: 4px;
    border-color: #000000;
    object-fit: Cover;
    box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
}




