ion-content {
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
  align-items: center;
  align-content: center;
  text-align: center;
}

.tarjeta-usuario {
  --background: rgba(255, 3, 3, 0.397);
}
hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
}
.boton {
  background-color: #ffc5bb;;
  color: #000000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 200%;
  width: 90%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 5%;
  //   margin-bottom: 3%;
  box-shadow: 2px 2px 2px #000;
  color: #020202;
  img {
    width: 14rem;
  }
}
.boton:hover {
  background: rgba(155, 27, 27, 0.753);
  transition: background 0.5s, color 0.5s;
}
.boton:active {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.boton-registrar {
  background: #0584ce;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.btn-estadisticas {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 3%;
  right: 3%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #000;
  ion-icon {
    color: #d10000;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    text-shadow: 1px 1px #000;
  }
}
.btn-estadisticas:hover {
  background: #000;
  color: #fff;
  transition: background 0.5s, color 0.5s;
  ion-icon {
    color: #fff;
  }
}
.btn-estadisticas:active {
  transform: scale(1.1);
  transition: transform 0.3s;
}

/*SPINNER*/
.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.radio {
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.checkbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.select {
  width: 80%;
  background-color: #fff;
  color: #000;
  height: 10%;
  border-radius: 10px;
}
.titulo {
  color: #fff;
  margin-bottom: 10%;
  font-weight: 600;
  font-size: 150%;
}
.form-label {
  margin-bottom: 0%;
  margin-top: 3%;
  font-weight: 600;
  font-size: larger;
}
::placeholder {
  color: gray;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #000000;
  background-color: white !important;
  width: 80%;
  height: 60px;
  margin-top: 5%;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

.invalid {
  font-size: medium;
  color: #fff;
}

hr {
  height: 3px;
  background: rgba(66, 66, 66, 0.548);
}

.flecha-izq,
.flecha-der {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
}
.flecha-izq {
  left: 1%;
}
.flecha-der {
  right: 1%;
}

// *******************************************************************************************
// *******************************************************************************************
// *******************************************************************************************
// *******************************************************************************************

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 15:38:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-19 16:4:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
}

/* ----------------------------------------------
   * Generated by Animista on 2022-10-21 22:40:2
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
