<ion-content>
  <div class="spinner">
    <img src="../../assets/spinner.png " width="60%" [ngClass]="{'rotate-center' : this.spinner}"
      *ngIf="this.spinner" />
  </div>
  <!--VISTAS CHARTS-->
  <div class="charts">
    <ion-header class="bg-dark" style="font-size: 1.4rem;">RESULTADOS ENCUESTAS</ion-header>
    <div class="container d-flex justify-content-center align-items-center">
      <img src="../../../assets/chartz.png" alt="" style="height: 15vh; width: auto;">
    </div>


    <div class="container col-12 mt-2 justify-content-center">
      <button class="btn m-1 w-100 h-100" (click)="cambiarChart(1)">Valoración del servicio</button>
      <button class="btn m-1 w-100 h-100" (click)="cambiarChart(2)">Variedad menú</button>
      <button class="btn m-1  w-100" (click)="cambiarChart(3)">Precio adecuado</button>
      <button class="btn m-1  w-100" (click)="cambiarChart(4)">Recomendarían</button>
    </div>


    <div class="container bg-dark bg-opacity-50 p-3 mt-3">
      <div [ngClass]="{'invisible': chartActivo!=1}">
        <h4>Valoración del servicio</h4>
        <div style="height: 300px; width: 100%">
          <canvas id="chartClienteSatisfaccion"></canvas>
        </div>
      </div>
      <div [ngClass]="{'invisible': chartActivo!=2}">
        <h4>Variedad menú</h4>
        <canvas id="chartClienteVariedadMenu"></canvas>
      </div>
      <div [ngClass]="{'invisible': chartActivo!=3}">
        <h4>Precio adecuado</h4>
        <canvas id="chartClientePrecioAdecuado"></canvas>
      </div>
      <div [ngClass]="{'invisible': chartActivo!=4}">
        <h4>Recomendarían</h4>
        <canvas id="chartClienteRecomendaria"></canvas>
      </div>
    </div>

  </div>
</ion-content>