<ion-grid scrollEnabled="false" class="justify-content-evenly">
  <div class="back-ground-container">
    <img src="../../../assets/splashBackground.png" alt="Fondo" class="back-ground-container">
  </div>
  <ion-row>
    <div class="mid-animation-container">
      <img src="../../../assets/iconoSolo.png" alt="Top Animation" class="animated">
    </div>
  </ion-row>
  <ion-row class="ion-text-center text-start">
    <div class="top-animation-container bg-primary p-3 bg-opacity-50">
      <h1 class="animated ion-text-center">La Comanda</h1>
      <div class="bottom-animation-container">
        <h1 class="animated ion-text-start">Eduardo Sosa</h1>
        <h1 class="animated ion-text-center">Leandro Avalos</h1>
        <h1 class="animated ion-text-end">Gabriel Alegre</h1>
        <h1 class="animated ion-text-end ">4-A </h1>
      </div>
    </div>
  </ion-row>

</ion-grid>