ion-content {
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
  align-items: center;
  align-content: center;
  text-align: center;
}

.titulo-preguntados,
.contenedor-pregunta > h3 {
  text-align: center;
  color: #000;
  // text-shadow: 1px 1px 1px black;
  font-weight: bold;
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: #ffc5bb;
  padding: 5px 15px;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 8px rgb(0, 0, 0);
}

.titulo-preguntados {
  margin-top: 1rem;
}

.puntuacion {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
}

.intentos {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-size: 0.8rem;
}

.contenedor-pregunta {
  display: block;
  margin: 0 auto;
}

.contendor-bandera > img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 8px black;
  width: 90vw;
  height: 13rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.juego-terminado {
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 5rem;
}

.victoria {
  color: #33ff00;
}

.derrota {
  color: #ffe600;
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

// .btn-opcion {
//   text-overflow: ellipsis;
//   overflow: hidden;
//   white-space: nowrap;
//   width: 90vw;
//   padding: 1.3em 3em;
//   font-size: 12px;
//   text-transform: uppercase;
//   letter-spacing: 2.5px;
//   font-weight: 500;
//   color: rgb(0, 0, 0);
//   background-color: #d6ddd6;
//   border: none;
//   border-radius: 45px;
//   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
//   transition: all 0.3s ease 0s;
//   cursor: pointer;
//   outline: none;
//   display: block;
//   margin: 1rem auto;
// }

.btn-opcion {
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 22px;
  border: rgb(4, 215, 81) 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // box-shadow: 0px 10px 10px rgba(255, 128, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  margin-bottom: 1rem;
  width: 90vw;
}

.btn-opcion:hover {
  transform: translateY(-7px);
}

.btn-opcion:active {
  transform: translateY(-1px);
}

// .btn-opcion:hover {
//   background-color: #13b4b4;
//   box-shadow: 0px 15px 20px rgba(0, 255, 242, 0.4);
//   color: #fff;
//   text-shadow: 1px 1px 2px black;
//   transform: translateY(-7px);
// }

// .btn-opcion:active {
//   transform: translateY(-2px);
// }

.correcta:hover {
  background-color: #33ff00;
  box-shadow: 0px 15px 20px rgba(81, 255, 0, 0.4);
  color: #fff;
  text-shadow: 1px 1px 2px black;
  transform: translateY(-7px);
}

.incorrecta:hover {
  background-color: #ff0000;
  box-shadow: 0px 15px 20px rgba(255, 51, 0, 0.4);
  color: #fff;
  text-shadow: 1px 1px 2px black;
  transform: translateY(-7px);
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

.btn-reiniciar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 1rem auto;
}

.btn-reiniciar:hover {
  background-color: #fdfdfd;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #000;
  transform: translateY(-7px);
}

.btn-reiniciar {
  transform: translateY(-1px);
}

/*SPINNER*/
.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}

/* ----------------------------------------------
     * Generated by Animista on 2022-10-21 22:40:2
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

/**
     * ----------------------------------------
     * animation rotate-center
     * ----------------------------------------
     */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
