<ion-content>
  <div *ngIf="!clienteActivo && !empleadoActivo">
    <ion-header class="bg-dark   text-center" style="text-align: center; font-size: 1.5rem"
      *ngIf="!encuestaCliente && !encuestaEmpleado">
      ENCUESTAS
    </ion-header>

    <ion-header class="bg-dark " style="text-align: center; font-size: 1.5rem" *ngIf="encuestaCliente">
      CLIENTES
    </ion-header>
    <ion-header style="text-align: center; font-size: 1.5rem" *ngIf="encuestaEmpleado">
      EMPLEADOS
    </ion-header>
  </div>
  <ion-header class="bg-dark " style="text-align: center; font-size: 1.5rem" *ngIf="clienteActivo">
    {{clienteActivo.apellido}} {{clienteActivo.nombre}}
  </ion-header>
  <ion-header class="bg-dark " style="text-align: center; font-size: 1.5rem" *ngIf="empleadoActivo">
    {{empleadoActivo.apellido}} {{empleadoActivo.nombre}}
  </ion-header>

  <!-- VISTA DEL SPINNER -->
  <div class="spinner">
    <img src="../../assets/spinner.png " width="60%" [ngClass]="{'rotate-center' : this.spinner}"
      *ngIf="this.spinner" />
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="cerrarSesion()">
    <ion-fab-button color="warning">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- BOTON HACIA EL MENU DE SELECCION DE CLIENTES O EMPLEADOS -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed"
    *ngIf="encuestaCliente && !clienteActivo || encuestaEmpleado && !empleadoActivo">
    <ion-fab-button color="warning" (click)="irAMenuEncuestas()">
      <ion-icon style="font-size: 3rem" name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- BOTON DE RETORNO AL LISTADO DE CLIENTES -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="encuestaCliente && clienteActivo">
    <ion-fab-button color="warning" (click)="irAListadoClientes()">
      <ion-icon style="font-size: 3rem" name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- BOTON DE RETORNO AL LISTADO DE EMPLEADOS -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="encuestaEmpleado && empleadoActivo">
    <ion-fab-button color="warning" (click)="irAListadoEmpleados()">
      <ion-icon style="font-size: 3rem" name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- MENU SELECCION DE LISTADO CLIENTES O EMPLEADOS -->
  <div *ngIf="!encuestaCliente && !encuestaEmpleado">
    <!-- BOTON DE RETORNO AL HOME DEL SUPERVISOR -->
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <a routerLink="/home-supervisor">
        <ion-fab-button color="warning">
          <ion-icon style="font-size: 3rem" name="arrow-undo-outline"></ion-icon>
        </ion-fab-button>
      </a>
    </ion-fab>

    <div class="container">


      <ion-card (click)="irAEncuestaCliente()">
        <ion-card-header>
          <ion-card-title>CLIENTES</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../assets/altaCliente.png" alt="cliente" />
        </ion-card-content>
      </ion-card>

      <ion-card (click)="irAEncuestaEmpleado()">
        <ion-card-header>
          <ion-card-title>EMPLEADOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../assets/altaEmpleado.png" alt="empleado" />
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- LISTADO CLIENTES -->
  <div *ngIf="encuestaCliente && !clienteActivo">
    <ion-card style="
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 4px #000;
      " class="tarjeta-usuario" *ngFor="let item of listadoClientes;">
      <img style="
          display: block;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          background-color: rgba(255, 228, 196, 0.61);
          margin-left: auto;
          margin-right: auto;
          margin-top: 1rem;
          border-radius: 25%;
          box-shadow: 2px 2px 4px #000;
        " src="{{item.foto}}" />
      <ion-card-header>
        <ion-card-title style="text-align: center; color: #fff; text-shadow: 1px 1px #000">{{item.apellido}}
          {{item.nombre}}</ion-card-title>
        <button class="boton" (click)="mostrarEncuestaCliente(item)">
          Encuesta
        </button>
        <button class="boton" (click)="generarChartsCliente(item)">
          Historial
        </button>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- FORM ENCUESTA CLIENTES -->
  <div *ngIf="clienteActivo && !vistasChartsCliente">
    <div class="container bg-opacity-50 bg-dark  py-5">

   
    <form [formGroup]="forma" (ngSubmit)="crearEncuestaCliente()">
      <!-- INPUT HUMOR -->
      <h4 class="mb-3">¿Que humor tiene?</h4>
      <ion-icon style="font-size: 1.5rem" name="sad-outline"></ion-icon>
      <input style="width: 70%; margin-left: 0.5rem; margin-right: 0.5rem" type="range" formControlName="humor" min="0"
        max="10" />
      <ion-icon style="font-size: 1.5rem" name="happy-outline"></ion-icon>
      <small style="display: flex; justify-content: space-between"><span style="margin-left: 5%">Malo</span><span
          style="margin-left: 5%">Bueno</span><span style="margin-right: 2%">Muy bueno</span></small>
      <small class="invalid" *ngIf="forma.controls.humor.errors?.required &&
              forma.controls.humor.touched">
        Este campo es requerido
      </small>
      <hr>
      <!-- INPUT FRECUENCIA -->
      <div class="radio">
        <h4 class="mb-3">Frecuencia de asistencia</h4>
        <div class="form-check">
          <input value="0" formControlName="frecuencia" type="radio" class="form-check-input" id="aMenudo" />
          <label for="aMenudo" class="form-check-label">No muy a menudo</label>
        </div>

        <div class="form-check">
          <input value="1" formControlName="frecuencia" type="radio" class="form-check-input" checked required
            id="unaSemana" />
          <label for="unaSemana" class="form-check-label">Una vez a la semana</label>
        </div>

        <div class="form-check">
          <input value="2" type="radio" formControlName="frecuencia" class="form-check-input" required id="masDeUna" />
          <label for="masDeUna" class="form-check-label">Más de una vez a la semana</label>
        </div>
        <small class="invalid" *ngIf="forma.controls.frecuencia.errors?.required &&
              forma.controls.frecuencia.touched">
          Este campo es requerido
        </small>
      </div>
      <hr>
      <!-- INPUT USA LA APLICACION -->
      <div>
        <h4 class="mb-3">¿Usa la aplicación?</h4>
        <select class="form-select-input select" formControlName="usaAplicacion">
          <option value="">Elija una opción...</option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
        <br />
        <small class="invalid" *ngIf="forma.controls.usaAplicacion.errors?.required &&
            forma.controls.usaAplicacion.touched">
          Este campo es requerido
        </small>
      </div>
      <hr>
      <!-- INPUT PIDE DELIVERY -->
      <h4 class="mb-3">¿Pide Delivery?</h4>
      <div class="checkbox" style="display: flex; justify-content: space-evenly">
        <div>
          <label for="deliverySi" style="font-size: 1.5rem">
            <input (change)="seleccionarDeliverySi()" type="checkbox" id="deliverySi" formControlName="deliverySi"
              value="si" checked />
            Si</label>
        </div>
        <div>
          <label for="deliveryNo" style="font-size: 1.5rem">
            <input (change)="seleccionarDeliveryNo()" type="checkbox" id="deliveryNo" formControlName="deliveryNo"
              value="no" />
            No</label>
        </div>
        <small class="invalid" *ngIf="forma.controls.deliverySi.errors?.required &&
            forma.controls.deliverySi.touched">
          Este campo es requerido
        </small>
      </div>
      <hr>
      <!-- INPUT DETALLE SOBRE EL CLIENTE -->
      <input type="text" class="input" placeholder="Detalles sobre el cliente..." formControlName="detalle" />

      <button type="submit" [ngClass]="forma.valid?'boton-registrar shake-horizontal':''" class="boton">
        Registrar
      </button>
    </form>
  </div>
  </div>

  <!-- VISTA DE CHARTS CLIENTES -->
  <div class=" contenedor-charts py-2 bg-dark bg-opacity-50" *ngIf="vistasChartsCliente">
    <img style="
        display: block;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 25%;
        box-shadow: 2px 2px 4px #000;
      " src="{{clienteActivo.foto}}" />
    <h2>ESTADÍSTICAS</h2>
    <ion-slides pager="true" scrollbar="true" *ngIf="clienteTieneAlgunaEncuesta">
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">Humor</h4>
          <canvas id="chartCliente1"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">
            Frecuencia de asistencia
          </h4>
          <canvas id="chartCliente2"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">
            ¿Usó la aplicación?
          </h4>
          <canvas id="chartCliente3"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">¿Pidió Delivery?</h4>
          <div style="height: 300px; width: 100%">
            <canvas id="chartCliente4"></canvas>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <h4 *ngIf="!clienteTieneAlgunaEncuesta" style="margin-top: 10rem; text-align: center">
      No hay estadísticas disponibles
    </h4>
  </div>

  <!-- LISTADO EMPLEADOS -->
  <div *ngIf="encuestaEmpleado && !empleadoActivo">
    <ion-card style="
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 4px #000;
      " class="tarjeta-usuario" *ngFor="let item of listadoEmpleados;">
      <img style="
          display: block;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          margin-left: auto;
          margin-right: auto;
          margin-top: 1rem;
          border-radius: 25%;
          box-shadow: 2px 2px 4px #000;
        " src="{{item.foto}}" />
      <ion-card-header>
        <ion-card-title style="text-align: center; color: #fff; text-shadow: 1px 1px #000">{{item.apellido}}
          {{item.nombre}}</ion-card-title>
        <button class="boton" (click)="mostrarEncuestaEmpleado(item)">
          Encuesta
        </button>
        <button class="boton" (click)="generarChartsEmpleado(item)">
          Historial
        </button>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- FORM ENCUESTA EMPLEADOS -->
  <div *ngIf="empleadoActivo && !vistasChartsEmpleado">
    <div class="container bg-opacity-50 bg-dark  py-5">

      <form [formGroup]="formaEmpleado" (ngSubmit)="crearEncuestaEmpleado()">
        <!-- INPUT EFICIENCIA -->
        <h4 class="mb-3">Nivel de eficiencia</h4>
        <ion-icon style="font-size: 1.5rem" name="sad-outline"></ion-icon>
        <input style="width: 70%; margin-left: 0.5rem; margin-right: 0.5rem" type="range" formControlName="eficiencia"
          min="0" max="10" />
        <ion-icon style="font-size: 1.5rem" name="happy-outline"></ion-icon>
        <small style="display: flex; justify-content: space-between"><span style="margin-left: 5%">Mala</span><span
            style="margin-left: 5%">Buena</span><span style="margin-right: 2%">Muy buena</span></small>
        <small class="invalid" *ngIf="formaEmpleado.controls.eficiencia.errors?.required &&
        formaEmpleado.controls.eficiencia.touched">
          Este campo es requerido
        </small>
        <hr>
        <!-- INPUT FRECUENCIA INASISTENCIA -->
        <h4 class="mb-3">¿Falta mucho?</h4>
        <div class="radio">
          <div class="form-check">
            <input value="0" formControlName="inasistencia" type="radio" class="form-check-input" id="nunca" />
            <label for="nunca" class="form-check-label">Nunca</label>
          </div>

          <div class="form-check">
            <input value="1" formControlName="inasistencia" type="radio" class="form-check-input" checked required
              id="poco" />
            <label for="poco" class="form-check-label">Muy poco</label>
          </div>

          <div class="form-check">
            <input value="2" type="radio" formControlName="inasistencia" class="form-check-input" required id="mucho" />
            <label for="mucho" class="form-check-label">Demasiado</label>
          </div>
          <small class="invalid" *ngIf="formaEmpleado.controls.inasistencia.errors?.required &&
          formaEmpleado.controls.inasistencia.touched">
            Este campo es requerido
          </small>
        </div>
        <hr>
        <!-- INPUT COMPAÑERO -->
        <div>
          <h4 class="mb-3">¿Es buen compañero?</h4>
          <select class="form-select-input select" formControlName="esCompanero">
            <option value="">Elija una opción...</option>
            <option value="si">Si</option>
            <option value="no">No</option>
          </select>
          <br />
          <small class="invalid" *ngIf="formaEmpleado.controls.esCompanero.errors?.required &&
          formaEmpleado.controls.esCompanero.touched">
            Este campo es requerido
          </small>
        </div>
        <hr>
        <!-- INPUT ES LIMPIO -->
        <h4 class="mb-3">¿Deja limpio su espacio?</h4>
        <div class="checkbox" style="display: flex; justify-content: space-evenly">
          <div>
            <label for="deliverySi" style="font-size: 1.5rem">
              <input (change)="seleccionarDeliverySi()" type="checkbox" id="deliverySi" formControlName="deliverySi"
                value="si" checked />
              Si</label>
          </div>
          <div>
            <label for="deliveryNo" style="font-size: 1.5rem">
              <input (change)="seleccionarDeliveryNo()" type="checkbox" id="deliveryNo" formControlName="deliveryNo"
                value="no" />
              No</label>
          </div>
          <small class="invalid" *ngIf="formaEmpleado.controls.deliverySi.errors?.required &&
          formaEmpleado.controls.deliverySi.touched">
            Este campo es requerido
          </small>
        </div>
        <hr>
        <!-- INPUT DETALLE SOBRE EL EMPLEADO -->
        <input type="text" class="input" placeholder="Detalles sobre el empleado..." formControlName="detalle" />

        <button type="submit" [ngClass]="formaEmpleado.valid?'boton-registrar shake-horizontal':''" class="boton">
          Registrar
        </button>
      </form>
    </div>

  </div>

  <!-- VISTA DE CHARTS EMPLEADOS -->
  <div class="contenedor-charts" *ngIf="vistasChartsEmpleado">
    <img style="
        display: block;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 25%;
        box-shadow: 2px 2px 4px #000;
      " src="{{empleadoActivo.foto}}" />
    <h2>ESTADÍSTICAS</h2>
    <ion-slides pager="true" scrollbar="true" *ngIf="empleadoTieneAlgunaEncuesta">
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">Eficiencia</h4>
          <canvas id="chartEmpleado1"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">
            Frecuencia de inasistencia
          </h4>
          <canvas id="chartEmpleado2"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-der heartbeat" name="caret-forward-outline" (click)="irASlideAdelante()"></ion-icon>
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">Compañerismo</h4>
          <canvas id="chartEmpleado3"></canvas>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="margin-top: 3rem">
          <ion-icon class="flecha-izq heartbeat" name="caret-back-outline" (click)="irASlideAtras()"></ion-icon>
          <h4 style="font-size: 1.5rem" *ngIf="!spinner">Limpieza</h4>
          <div style="height: 300px; width: 100%">
            <canvas id="chartEmpleado4"></canvas>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <h4 *ngIf="!empleadoTieneAlgunaEncuesta" style="margin-top: 10rem; text-align: center">
      No hay estadísticas disponibles
    </h4>
  </div>
</ion-content>