<ion-content [ngClass]="scanActivo?'scanner-activo':''">
  <ion-header class="bg-dark" style="height: 45px;" >
    <ion-toolbar style="height: 45px;">
      <ion-buttons slot="start">
        <a routerLink="/menu-altas"><ion-icon style="color: white; font-size: 25px; margin-left: 7px;" name="arrow-back-outline"></ion-icon></a> 
      </ion-buttons>
      
      <ion-title class="ion-text-center">
        ALTA EMPLEADO
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <img *ngIf="!scanActivo" style="
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.1rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #000;
" (click)="sacarFoto()" src="{{src_imagen}}" alt="foto usuario" />
  <p *ngIf="src_imagen == '../../../assets/anonimo.png' || !scanActivo" class="text-center" style="color: black;">*Agregue foto (click
    en
    el logo)*</p>

  <form [formGroup]="forma" (ngSubmit)="registrar()" *ngIf="!scanActivo" style="width: 90%; display: block; margin-left: auto; margin-right: auto">

    <select class="form-select" style="margin-bottom: 10px;" formControlName="tipo" placeholder="Tipo">
      <option value="">Seleccione el tipo...</option>
      <option value="metre">Metre</option>
      <option value="mozo">Mozo</option>
      <option value="cocinero">Cocinero</option>
      <option value="bartender">Bartender</option>
    </select>
    <small class="invalid" *ngIf="forma.controls.tipo.errors?.required &&
          forma.controls.tipo.touched">
      El tipo es requerido
    </small>

    <input type="text" formControlName="email" class="input" Placeholder="Correo">
    <small class="invalid" *ngIf="forma.controls.email.errors?.required &&
            forma.controls.email.touched">
      El correo es requerido
    </small>

    <small class="invalid" *ngIf="forma.controls.email.errors?.email &&
            forma.controls.email.touched">
      El correo debe cumplir con el formato
    </small>

    <input type="password" formControlName="contrasena" class="input" Placeholder="Contraseña">
    <small class="invalid" *ngIf="forma.controls.contrasena.errors?.required &&
            forma.controls.contrasena.touched">
      La contraseña es requerida
    </small>

    <input type="password" formControlName="repetirContrasena" class="input" Placeholder="Repetir contraseña">
    <small class="invalid" *ngIf="forma.controls.repetirContrasena.errors?.required &&
            forma.controls.repetirContrasena.touched">
      Debe repetir la contraseña
    </small>

    <input type="number" formControlName="dni" class="input" Placeholder="DNI">
    <small class="invalid" *ngIf="forma.controls.dni.errors?.required &&
          forma.controls.dni.touched">
      El DNI es requerido
    </small>

    <input type="text" formControlName="nombre" class="input" Placeholder="Nombre">
    <small class="invalid" *ngIf="forma.controls.nombre.errors?.required &&
          forma.controls.nombre.touched">
      El nombre es requerido
    </small>

    <input type="text" formControlName="apellido" class="input" Placeholder="Apellido">
    <small class="invalid" *ngIf="forma.controls.apellido.errors?.required &&
          forma.controls.apellido.touched">
      El apellido es requerido
    </small>

    <small class="invalid" *ngIf="forma.controls.dni.errors?.pattern &&
          forma.controls.dni.touched">
      El DNI solo puede contener numeros
    </small>

    <input type="number" formControlName="cuil" class="input" Placeholder="CUIL">
    <small class="invalid" *ngIf="forma.controls.cuil.errors?.required &&
          forma.controls.cuil.touched">
      El CUIL es requerido
    </small>
    <small class="invalid" *ngIf="forma.controls.cuil.errors?.pattern &&
          forma.controls.cuil.touched">
      El CUIL solo puede contener numeros
    </small>

    <ion-button style="margin-right: 5px; margin-top: 20px;" (click)="escanearDocumento()" expand="block"><ion-icon id="logoLogIn"
      name="qr-code"></ion-icon>Escanear DNI</ion-button>
<ion-button [disabled]="forma.invalid" expand="block" type="submit" style="margin-top: 20px;"><ion-icon id="logoLogIn"
  name="person-add-outline"></ion-icon>Registrar</ion-button>

  </form>

  <div *ngIf="scanActivo">
    <div class="scan">
      <div class="qrcode"></div>
      <div class="border"></div>
    </div>
    <h3 class="scanH3">Escaneando QR...</h3>
    <button class="boton" (click)="pararScan()">Detener</button>
  </div>

</ion-content>