<app-loading *ngIf="this.spinner"></app-loading>

<ion-content>
  <!-- VISTA DEL SPINNER -->
  <!-- <div class="spinner">
    <img src="../../assets/spinner.png " width="60%" [ngClass]="{'rotate-center' : this.spinner}"
      *ngIf="this.spinner" />
  </div> -->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="cerrarSesion()">
    <ion-fab-button color="warning">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1>MENU DE ALTAS</h1>
  <!-- BOTON DE RETORNO AL HOME DEL SUPERVISOR -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <a routerLink="/home-supervisor">
      <ion-fab-button color="warning">
        <ion-icon style="font-size: 3rem" name="arrow-undo-outline"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-fab>
  <div class="container">
    <ion-card routerLink="/alta-supervisor">
      <ion-card-header>
        <ion-card-title>Alta Dueño / Supervisor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/Altajefe.png" alt="gerente" />
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/register-empleado">
      <ion-card-header>
        <ion-card-title>Alta Empleado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/altaEmpleado.png" alt="empleado" />
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="authService.UsuarioActivo.perfil != 'supervisor' && authService.UsuarioActivo.perfil != 'dueño'"
      routerLink="/alta-cliente">
      <ion-card-header>
        <ion-card-title>Alta Cliente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/altaCliente.png" alt="cliente" />
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/register-mesa">
      <ion-card-header>
        <ion-card-title>Alta Mesa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/altaMesa.png" alt="mesa" />
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="authService.UsuarioActivo.perfil != 'supervisor' && authService.UsuarioActivo.perfil != 'dueño'"
      routerLink="/alta-productos">
      <ion-card-header>
        <ion-card-title>Alta Producto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/altaProducto.png" alt="producto" />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>