ion-content {
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
  align-items: center;
  align-content: center;
  text-align: center;
}

.titulo-mayormenor {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgb(255, 5, 111, 0.7);
  padding: 5px 15px;
  margin-top: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 8px gray;
  margin-top: 90px;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px #6528e0;
}

.puntuacion {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
}

.intentos {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-size: 0.8rem;
}

// .juego-terminado {
//   text-align: center;
//   color: white;
//   font-size: 2rem;
//   text-shadow: 2px 2px 2px black;
//   font-weight: bold;
// }

.row {
  margin: 1rem auto;
}

.carta-izquierda {
  width: 10rem;
  // border-radius: 10px;
  box-shadow: 0 0 20px #6528e0;
}

.carta-derecha {
  width: 10rem;
  // border-radius: 10px;
  box-shadow: 0 0 20px #6528e0;
}

.btn-mayormenor {
  display: block;
  margin: 0.5rem auto;
}

@media screen and (max-width: 500px) {
  .carta-izquierda {
    width: 9rem;
  }
  .carta-derecha {
    width: 9rem;
  }
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

/* From uiverse.io */
.btn-menor {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #6528e0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
}

.btn-menor:hover {
  background-color: rgba(197, 3, 250, 0.8);
  box-shadow: 0px 15px 20px #6528e0;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  transform: translateY(-7px);
}

.btn-menor:active {
  transform: translateY(-2px);
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

/* From uiverse.io */
.btn-mayor {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #ff056f;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
}

.btn-mayor:hover {
  background-color: rgba(197, 3, 250, 0.8);
  box-shadow: 0px 15px 20px #ff056f;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  transform: translateY(-7px);
}

.btn-mayor:active {
  transform: translateY(-2px);
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

/* From uiverse.io */
.btn-comenzar-reiniciar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(197, 3, 250, 0.8);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 1rem auto;
}

.btn-comenzar-reiniciar:hover {
  background-color: #6716c4;
  box-shadow: 0px 15px 20px rgba(245, 2, 253, 0.4);
  color: rgb(255, 255, 255);
  transform: translateY(-7px);
}

.btn-comenzar-reiniciar {
  transform: translateY(-1px);
}

/*SPINNER*/
.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}

/* ----------------------------------------------
     * Generated by Animista on 2022-10-21 22:40:2
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

/**
     * ----------------------------------------
     * animation rotate-center
     * ----------------------------------------
     */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}