ion-content {
    --background: linear-gradient(#B79891, #94716B);
    font-family: fantasy;
  }
  
  .scanner-activo {
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  .wrapper {
    background: rgb(73, 1, 1);
    border-radius: 15px;
    border: 3px solid #fff;
  }
  
  .visor {
    margin-top: 5rem;
    display: grid;
    place-content: center;
  }
  
  .centrado {
    display: grid;
    place-content: center;
  }
  
  .escanear {
    display: grid;
    place-content: center;
    width: 15rem;
    height: 4rem;
    border-radius: 30px;
    box-shadow: 3px 3px 4px #000;
    color: black;
    font-size: 1.7rem;
    font-family: fantasy;
    margin-top: 1rem;
    background: #0e8ec9;
  }
  .escanear:active {
    transform: scale(1.1);
    background: #000;
    box-shadow: 0 0 12px rgb(255, 255, 255);
    transition: transform 0.5s, background 0.5s;
  }
  
  .titulo {
    display: grid;
    place-content: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: fantasy;
    margin-top: 0px;
    color: #0e8ec9;
    text-shadow: 3px 3px 3px #000;
  }
  
  .monto {
    border: 5px dotted #000;
    background: rgb(91, 88, 88);
    background: linear-gradient(
      0deg,
      rgba(91, 88, 88, 1) 0%,
      rgba(94, 245, 4, 1) 100%
    );
    width: 21rem;
    height: 23rem;
    font-size: 9rem;
    display: grid;
    place-content: center;
    font-family: fantasy;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 8px 8px 4px #000;
  }
  
  .scanner-activo-visor {
    border: 5px groove #0e8ec9;
    color: transparent;
    text-shadow: 3px 3px 3px transparent;
    background: transparent;
    background-color: transparent;
    position: relative;
    // span {
    //   position: absolute;
    //   top: 0%;
    //   width: 100%;
    //   height: 3px;
    //   background: red;
    //   animation-name: move-bar;
    //   animation-duration: 0.5s;
    //   animation-timing-function: linear;
    //   animation-iteration-count: infinite;
    //   animation-direction: alternate;
    //   box-shadow: 0 0 20px red;
    // }
  }
  
  @keyframes move-bar {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
  
  .tarjeta-usuario {
    --background: rgb(168, 163, 162);
    --background: linear-gradient(
      254deg,
      rgba(134, 222, 226, 1) 27%,
      rgba(78, 126, 175, 1) 86%
    );
    ion-card-header {
      ion-card-title {
        color: #000;
      }
      ion-card-subtitle {
        color: #000;
      }
    }
  }
  