* {
  font-weight: bold;
}
ion-content{
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
}
.charts {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

hr {
  height: 3px;
  background: rgba(66, 66, 66, 0.548);
}
body {
  --ion-background-color: linear-gradient(
    120deg,
    #000000,
    #d50000,
    #d10000
  ) !important;
  align-items: center;
  align-content: center;
  text-align: center;
}

ion-fab {
  margin-top: 0px;
}

.radio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.checkbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.select {
  width: 80%;
  background-color: #fff;
  color: #000;
  height: 10%;
  border-radius: 10px;
}
.titulo {
  color: #fff;
  margin-bottom: 25%;
  font-weight: 600;
  font-size: 150%;
}
.form-label {
  margin-bottom: 0%;
  margin-top: 3%;
  font-weight: 600;
  font-size: larger;
}
::placeholder {
  color: gray;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #000000;
  background-color: white !important;
  width: 70%;
  height: 60px;
  margin-top: 5%;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

form {
  width: 100%;
  height: 60%;
  margin-top: 25%;
}

.boton {
  background-color: #dd6262;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-weight: 700;
  font-size: 200%;

  text-shadow: 2px 2px #000000;

  width: 80%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 14%;
  margin-bottom: 5%;
}

.invalid {
  font-size: medium;
  color: #fff;
}

.boton {
  background-color: #dd6262;
  color: #000000;
  border-radius: 10px;
  font-weight: 700;
  font-size: 200%;
  width: 90%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 5%;
  //   margin-bottom: 3%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px #000;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.boton:hover {
  background: rgba(155, 27, 27, 0.753);
  transition: background 0.5s, color 0.5s;
}
.boton:active {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.boton-registrar {
  background: #0584ce;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.image-item {
  --background: transparent;
  color: #fff;
}

.image-default {
  img {
    height: 15em;
  }
}

.uploaded-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  font-size: 17px;
  margin-top: 5%;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}



ion-avatar {
  width: 80px !important;
  height: 80px !important;
}

.img-prod {
  border-radius: 45px;
  box-shadow: 2px -1px 31px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px -1px 31px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px -1px 31px 1px rgba(255, 255, 255, 0.75);
}

.spinner {
  position: absolute;
  margin-top: 50%;
  text-align: center;
  padding: 20%;
  z-index: 101;
}

.rotate-center {
  -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
  animation: rotate-center 0.9s ease-in-out infinite both;
  box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
  border-radius: 50%;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.contenedor-charts {
  position: relative;
  margin: auto;
}


ion-slides {
  padding-bottom: 1rem;
}

.flecha-izq,
.flecha-der {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
}
.flecha-izq {
  left: 1%;
}
.flecha-der {
  right: 1%;
}


.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.btn{
  background-color: #df4c4c;
  color: aliceblue;
  font-weight: bold;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #000;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #fff;
  }
}
.invisible {
  display: none;
}
.imagen_usuario {
  width: 9rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
}
