
<ion-content>

  
  <div class="spinner">
    <img src="../../assets/spinner.png " width="60%" [ngClass]="{'rotate-center' : this.spinner}"
      *ngIf="this.spinner" />
  </div>



  <ion-header> <h1 class="titulo" size="large">ENCUESTAS EMPLEADO</h1></ion-header>

  <ion-slides *ngIf="!spinner">
    <ion-slide>
      <div class="contenedor-charts">
        <h4>Como fue el comportamiento de sus compañeros?</h4>

        <canvas style="width: 50%;" id="chart3"></canvas>
        <br>

        <h4>Estaban bien acomodados los clientes?</h4>
        <canvas id="chart2"></canvas>
      </div>
      
    </ion-slide>

    <ion-slide>
      <div class="contenedor-charts">
        <h4>Califique la condiciones en que se le otorgo su espacio</h4>
        <canvas id="chart4"></canvas>
        <br>

        <h4>Se entrego todo a tiempo?</h4>
        <canvas style="color:black" id="chart1"></canvas>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="div_comentarios"></div>
      <div class="div_card" *ngFor="let respuesta of this.listadoEncuestasEmpleados">
        <h5 style="margin-top: 0%;"><b>{{respuesta.empleado.apellido + ", " + respuesta.empleado.nombre}}</b></h5>
        <b>{{respuesta.comentario}}</b>
      </div>
    </ion-slide>
  </ion-slides>
    

</ion-content>
